{% extends "base.html" %}
{% block title %}Sobre{% endblock %}

{% block content %}
    <br>
    <h5>RESUMO:</h5>
    <p>Este site faz parte do Projeto Integrador I do eixo de computação da Universidade Virtual do Estado de São Paulo (polo de Bariri).</p>
    <p>O site apresenta o desenvolvimento de um software com framework web para controle de presença de alunos em escolas, a fim de solucionar o problema da ineficiência do controle de frequência atualmente utilizado. A metodologia adotada envolveu a utilização da linguagem de programação Python e do framework web Flask, bem como do banco de dados SQLAlchemy. O sistema será implementado em sala de aula para a realização de testes e assim verificar se o software atingiu os objetivos propostos, o que permitirá aos professores a realização do controle de presença de maneira mais prática e rápida. Em conclusão, o desenvolvimento de sistemas informatizados para solucionar problemas do cotidiano escolar é essencial para aprimorar a qualidade do ensino e tornar o ambiente escolar mais funcional e proveitoso para todos os envolvidos.</p>
    <hr>
    <p>Desenvolvido por:<br>Leandro José Facin<br>Marcelo Zanoni Camargo</p>
{% endblock %}
